body{
	font-family: kokila;
	font-size: 120%;
	background-image: url('../static/images/image2.jpg');
	background-size: 100%;
	background-position: center;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}
.db_color{
	color: #112F41;
}

.lb_color{
	color: #068587;
}

.db-bckg{
	background-color: #112F41;
}

.lb-bckg{
	background-color: #068587;
}

/*SIGN UP PAGE*/

.overlay{
	width: 100%;
	height: 100vh;
	background-color: rgba(17, 47, 65, 0.9);
}
.signinbox{
	height: 70%;
	width: 70%;
	background-color: white;
	position: relative;
	top: 15%;
	left: 15%;
	padding: 0;
	display:flex;
	flex-direction: nowrap;
	box-shadow: 2px 2px 10px black;
}

.signinbox div{
	white-space: nowrap;
	padding: 0;
	margin: 0;
}

.signUpimgbox{
	width: 50%;
	height: 100%;
	background-image: url('../static/images/image1.jpg');
	background-size: cover;
}

.signUpform{
	width: 50%;
	height: 100%;
}
.welcomesigupside{
	width: 100%;
	height: 100%;
	background-color: rgba(17, 47, 65, 0.7);
	/*display: flex;*/
}
.welcomesigupside img{
	/*display: block;*/
	margin-top: 15%;
	margin-left: 23%;
}

.welcomesigupside{
	/*flex-direction: wrap;*/
	/*box-sizing: border-box;*/
	flex-shrink: 0;
	min-width: auto;
	text-overflow: ellipsis;
}
.signUpform form input{
	display: block;
	margin-bottom: 2%;
	margin-left: 10%;
	height: 40px;
	width: 70%;
	border: 1px solid white;
	border-bottom: 2px solid #112F41;
	box-shadow: none;
}
.signupform form input ::webkit-input-placeholder{
	color: black;
}
.signUpform>form input[type=submit]{
	border:3px solid #112F41;
	margin-top: 4%;
	border-radius: 40px;
	color: white;
	background-color: rgba(17, 47, 65, 0.9);
}
.signUpform a {
	float: right;margin-right: 1%;
}
.signUpform input:focus{
			outline: none;
		}

.welcomesigupside h1, .welcomesigupside p {
	color: white;
	text-align: center;
}
.signUpform h1{
	text-align: center;
}
.signUpform small{
	display: block;
	text-align: center;
}
/*SIGN UP PAGE*/

/*SIGN IN PAGE*/
.loginform form{
	margin-top: 10%;
}
/*SIGN IN PAGE*/

/* LANDING PAGE */
.nuvlandnpg input:focus{
	outline: none;
	color: white;
	border: 2px solid white;
	background-color: black;
}

.nuvlandnpg input[type=text]{
	font-size: 18px;
}

.main20 a {
	text-decoration: none;
	color: #112F41;
	line-height: 1.2;
	margin-left: 20%;
}
.footer {
	background-color: #068587;padding: 10px 20px;color: white;
}
.main20{
	border: 2px solid #068587;
	 width: 20%;
	 display: inline-block;
	 background-color: white;
	 padding: 10px;
	height: 30vh;
	margin-left: 2%;
	padding-bottom: 15px;
	position: fixed;
	right: 10px;
}
.questionslndn{
	border: 1px solid rgba(187, 187, 187, .4);width: 90%;
	display: inline-block;height: 70px;
	position: relative;
	top: -10px;
	background-color: rgba(6, 133, 135, 0.1);
}
.qstntime{
	width: 10%;
	display: inline-block;
}
.qstrspn {
	width: 10%;
	display: inline-block;
	float: right;
}
.tx-cntr{
	text-align: center;
}
.userprofile{
	height: 60px; width: 60px;
	 border-radius: 50%;
	 display: inline-block;
	 background-image: url('../static/images/image1.jpg');
	border: 2px solid #112F41;
	margin-right: 10px;
}
.qstnitslf{
	display: inline-block;
}

.qstnitslf a h4{
	padding: 0;margin: 0;
}
.nuvlandnpg{
	background-color: white;
	height: 60px;box-shadow: 3px 2px 5px #068587;
}

.nuvlandnpg a img{
	max-height: 55px;
	display: inline;
	margin-left: 2%;
	margin-right: 2%;
}
.nuvlandnpg form{
	display: inline;
}

.nuvlandnpg form input{
	padding: 15px;
	border: 2px solid #112F41;
	width: 50%;
	display: inline;
	position: relative;
	top: -20px;
}

.nuvlandnpg p{
	display: inline;
	font-size: 152%;
	position: relative;
	top: -20px;
	left:120px;
	color: #112F41;
}

.nuvlandnpg .userprofile{
	height: 40px;
	 width: 40px;
	  border-radius: 50%;
	  display: inline-block;
	  background-image: url('../static/images/image2.jpg');
	position: relative;
	top:5px;right: 84px;
	border: 2px solid #112F41;
	float: right;
}

.mncontner{
	padding: 20px;display: flex;flex-wrap: wrap; color: #112F41;
}

.mncontner .main80{
	border: 2px solid #068587;
	width: 70%;display: inline-block;
	margin-right: 1%;
	background-color: white;
	padding: 12px;margin-left: 2%;
}
.mncontner .main80 a h2{
	float: right;margin: 0;
}

.mncontner .main80>h4{
	clear: both;margin-left: 9%;
}

.questionslndn{
	padding: 4px 0 10px 0;
}

.questionslndn .qstntime{
	width: 10%;display: inline-block;
}

.questionslndn .qstntime .time{
	display: inline-block;
}

.qstnitslf p {
	display: inline-block;
	padding: 7px 4px 3px 4px;
	background-color: rgba(187, 187, 187, .4);
	margin-top: 5px;
	border: 1px solid rgba(187, 187, 187, .6);
}

.main20qstn{
	border: 2px solid #068587;
	 width: 20%;
	 display: inline-block;
	 background-color: white;
	 padding: 10px;
	margin-left: 2%;
	padding-bottom: 15px;
	position: fixed;
	right: 10px;
	margin-bottom: 1%;
}

.main80 form.pstqstnform input{
	display: block;
	padding: 10px;
	width: 90%;
	margin-bottom: 2%;
	border: 2px solid #112F41;
}
.main80 form.pstqstnform textarea{
	width: 90%;
	border: 2px solid #112F41;
	padding: 10px;
}
.main80 form.pstqstnform input[type=submit]{
	background-color: #068587;
	color: white;
	text-transform: uppercase;
	border: none;
}
form.pstqstnform{
	margin-left: 2%;
}
/* LANDING PAGE */

/*QUESTIONS PAGE*/
.questionsqsnt{
	border: 1px solid rgba(187, 187, 187, .4);width: 90%;
	display: inline-block;height: 70px;
	position: relative;
	top: -10px;
	background-color: rgba(6, 133, 135, 0.1);
	padding: 4px 0 10px 0;
}
.postanswer form input,
 .postanswer form textarea{
	display: block;
	margin: 1%;
	border: 2px solid #112F41;
}
.postanswer form textarea{
	width: 95%;
}

.postanswer form label{
	margin-left: 2%;
}

.postanswer form input{
	width: 45%;
	padding: 15px;
	border-radius: 20px;
	background-color: #112F41;
	color: white;
	float: right;
}
.qstntop{
	background-color: rgba(255, 255, 255, .1);
}

.answerssctn{
	display: flex; align-items: flex-start;
	display: flex;flex-direction: column;
}

.ansprof {
	width: 40px; height: 40px;margin-right: 2%;background-image: url('../static/images/image2.jpg');
}

.ansboxprof{
	background-color:rgba(187, 187, 187, .4);width: 90%;padding: 10px;
}
.ansitsf{
	margin: 0; padding: 5px;
}
.votebuttons{
	display:flex;align-items: flex-start;margin-left: 2%;
}
.iconpck{
	border: 1px solid black; width: 20px; height: 20px;margin-right: 1%;
}
.pinline{
	display: inline;
}
.boxpinline{
	height: 20px;margin-right: 10%;
}
.theqst{
	min-height: 50px;background-color: rgba(17, 47, 65, 0.1);padding: 2px 10px 0 10px;
}
.qstndetail{
	width: 85%;
}
.qstndetail h5{
	text-transform: uppercase;margin: 2px;
}
.qstntitle{
	text-transform: capitalize;margin-left: 2%;padding: 5px;margin: 0;display: inline-block;
}

.deltqstlink{
	display: inline;float: right;
}

.deltqstlink a{
	color: red;
}

.boxusrcicon{
	clear: both;display: flex;align-items: flex-start;
}

.usericonans{
	width: 15%;min-height: 50px;margin-right: 1%;
}

.userprof{
	height: 60px; width: 60px;
	 border-radius: 50%;
	 display: inline-block;
	 background-image: url('../static/images/image1.jpg');
	border: 2px solid #112F41;margin-left: 30%;margin-top: 2%;
}

.acceptbtn{
	padding: 5px;border: 2px solid #112F41;text-decoration: none;border-radius: 2px;
	background-color: #112F41;
	color: white;
}

.acceptbtn:hover{
	color: #112F41;
	background-color: white;
	border: 1px solid #112F41;
}
/*QUESTIONS PAGE*/
